altgraph==0.17
auto-py-to-exe==2.8.0
beautifulsoup4==4.9.3
bottle==0.12.19
bottle-websocket==0.2.9
bs4==0.0.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
dnspython==2.0.0
dominate==2.5.2
Eel==0.12.4
email-validator==1.1.1
Flask==1.0.2
Flask-Bootstrap==3.3.7.1
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
future==0.18.2
gevent==21.1.2
gevent-websocket==0.10.1
greenlet==1.0.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
pefile==2019.4.18
pycparser==2.20
pyinstaller==4.2
pyinstaller-hooks-contrib==2020.11
pywin32-ctypes==0.2.0
requests==2.25.1
soupsieve==2.1
sql-alchemy-db==0.0.4
SQLAlchemy==1.3.10
urllib3==1.26.3
visitor==0.1.3
Werkzeug==1.0.1
whichcraft==0.6.1
WTForms==2.3.3
zope.event==4.5.0
zope.interface==5.2.0
